* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  background: #EEF3F9; }

hr {
  color: #00b4d8; }

header {
  display: flex;
  justify-content: space-between; }
  header .header_left {
    width: 22%;
    border-radius: 2px;
    padding: 5px 16px;
    box-shadow: 4px 6px 7px -8px #053a79;
    background-color: #fff; }
    header .header_left .top_profile {
      display: flex;
      align-items: center;
      align-content: center; }
      header .header_left .top_profile .top_profile_pic {
        width: 40px;
        height: 40px;
        border-radius: 50%;
        background-size: cover;
        background-position: center; }
      header .header_left .top_profile .top_prifile_name {
        width: 70%;
        height: 100%;
        position: relative; }
        header .header_left .top_profile .top_prifile_name a {
          text-decoration: none;
          color: #626262; }
        header .header_left .top_profile .top_prifile_name p {
          width: 100%;
          margin: 0 10px;
          align-items: center; }
  header .header_middle {
    width: 77.77%;
    border-radius: 2px;
    height: 50px;
    background: #fff;
    box-shadow: -1px 6px 7px -8px #053a79;
    display: flex;
    align-items: center; }
    header .header_middle .middle_middle {
      width: 70%;
      border-radius: 2px;
      height: 50px;
      background: #fff;
      box-shadow: -1px 6px 7px -8px #053a79;
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 0 16px; }
      header .header_middle .middle_middle svg {
        color: #00b4d8; }
      header .header_middle .middle_middle .search_area {
        width: 50%;
        display: flex;
        align-items: center; }
        header .header_middle .middle_middle .search_area .search_box {
          background: #eef3f9;
          width: 100%;
          padding: 6px;
          border-radius: 20px;
          right: 16px; }
          header .header_middle .middle_middle .search_area .search_box input {
            width: 88%;
            outline: 0;
            background: transparent;
            border: 0;
            margin-left: 12px; }
        header .header_middle .middle_middle .search_area .search_icon {
          margin-left: -28px; }
      header .header_middle .middle_middle .header_link {
        width: 50%;
        display: flex;
        justify-content: space-evenly;
        align-content: center; }
        header .header_middle .middle_middle .header_link svg {
          font-size: 20px; }
    header .header_middle .right_right {
      width: 28.4%;
      padding: 0 16px;
      display: flex;
      align-items: center;
      justify-content: space-evenly; }
      header .header_middle .right_right svg {
        color: #00b4d8;
        font-size: 20px; }

.main_section {
  display: flex;
  height: 91.6vh; }
  .main_section .left_section {
    width: 22%;
    height: 100%;
    border-radius: 2px;
    padding: 5px 16px;
    background: #fff;
    box-shadow: 4px 1px 7px -8px #053a79;
    margin-top: 4px;
    overflow-y: scroll; }
    .main_section .left_section .left_link {
      width: 100%;
      display: flex;
      align-items: center;
      padding: 10px;
      margin-top: 5px; }
      .main_section .left_section .left_link .left_link_pic {
        width: 30px; }
        .main_section .left_section .left_link .left_link_pic svg {
          color: #00b4d8;
          font-size: 21px;
          display: block;
          margin: auto; }
        .main_section .left_section .left_link .left_link_pic img {
          width: 80%; }
      .main_section .left_section .left_link .left_link_name p {
        width: 100%;
        margin: 0 10px;
        align-items: center;
        font-size: 17px;
        color: #000; }
    .main_section .left_section .left_link_down .left_link_pic {
      background: #00d4b2;
      width: 30px;
      height: 30px;
      border-radius: 6px; }
  .main_section .middle_section {
    width: 54%;
    margin-top: 5px;
    margin-left: 1%;
    margin-right: 1%;
    height: 100%;
    overflow-y: scroll; }
    .main_section .middle_section .middle_header {
      width: 100%;
      height: 270px;
      margin-top: 16px;
      background: #fff;
      border-radius: 6px; }
      .main_section .middle_section .middle_header .middle_header_banner {
        width: 100%;
        height: 100%;
        background-size: cover;
        background-position: center;
        border-radius: 6px; }
    .main_section .middle_section .middle_header_demo {
      width: 100%;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      overflow-x: hidden; }
      .main_section .middle_section .middle_header_demo .demo_item {
        margin-top: 16px;
        width: 48%;
        background: #fff;
        border-radius: 6px;
        padding: 16px;
        transition: 0.3s;
        box-shadow: 0px 0.5px 10px -7px #00b4d8; }
        .main_section .middle_section .middle_header_demo .demo_item .demo_item_image {
          width: 100%;
          height: 370px;
          background: #fff;
          border-radius: 6px;
          overflow: hidden;
          background-position: top;
          background-size: cover;
          box-shadow: 0px 1.5px 11px -7px #00b4d8; }
          .main_section .middle_section .middle_header_demo .demo_item .demo_item_image img {
            width: 100%; }
        .main_section .middle_section .middle_header_demo .demo_item .see_demo {
          margin-top: 16px;
          width: 100%; }
          .main_section .middle_section .middle_header_demo .demo_item .see_demo a {
            width: 100%;
            border-radius: 3px;
            padding: 5px 10px;
            text-decoration: none;
            color: #626266;
            display: inline-block;
            text-align: center;
            transition: 0.5s; }
  .main_section .right_section {
    width: 22%;
    height: 100%;
    padding-right: 16px;
    margin-top: 4px;
    overflow-y: scroll; }
    .main_section .right_section .custom-order {
      width: 100%;
      background: #fff;
      border-radius: 6px;
      margin-top: 16.6px;
      display: flex;
      align-items: center; }
      .main_section .right_section .custom-order .custom-order-image {
        width: 50%; }
        .main_section .right_section .custom-order .custom-order-image img {
          width: 100%;
          border-radius: 6px; }
      .main_section .right_section .custom-order .custom-order-text {
        width: 50%;
        padding: 5px 10px;
        display: flex;
        background: #00d4b2;
        border-radius: 6px;
        align-items: center;
        justify-content: space-between;
        color: #fff;
        margin-left: 5px;
        margin-right: 5px; }
        .main_section .right_section .custom-order .custom-order-text a {
          color: #fff;
          text-decoration: none;
          font-size: 14px; }
        .main_section .right_section .custom-order .custom-order-text .custom-order-text-icon {
          margin-top: 4px;
          margin-left: 5px; }
    .main_section .right_section .day_night {
      margin-top: 6px;
      width: 100%;
      height: 71.7vh;
      background: #fff;
      border-radius: 6px; }

/*Hover area edit form here */
.left_link:hover {
  background: #EEF3F9;
  border-radius: 6px; }

.see_demo a:hover {
  background: #EEF3F9;
  color: red; }

.demo_item:hover {
  box-shadow: 0px 1.5px 11px -7px #00b4d8; }

/*Scroll edit form here */
.left_section {
  scrollbar-width: thin;
  scrollbar-color: #00b4d8 transparent; }

.left_section::-webkit-scrollbar {
  width: 2px; }

.left_section::-webkit-scrollbar-track {
  background: transparent; }

.left_section::-webkit-scrollbar-thumb {
  background-color: #00b4d8;
  border-radius: 20px; }

.middle_section {
  scrollbar-width: none;
  scrollbar-color: #00b4d8 transparent; }

.middle_section::-webkit-scrollbar {
  width: 0; }

.middle_section::-webkit-scrollbar-track {
  background: transparent; }

.middle_section::-webkit-scrollbar-thumb {
  background-color: #00b4d8;
  border-radius: 20px; }

.right_section {
  scrollbar-width: none;
  scrollbar-color: #00b4d8 transparent; }

.right_section::-webkit-scrollbar {
  width: 0; }

.right_section::-webkit-scrollbar-track {
  background: transparent; }

.right_section::-webkit-scrollbar-thumb {
  background-color: #00b4d8;
  border-radius: 20px; }

/****************
    profile area start from here
*****************/
.header_profile .profile_area {
  position: relative; }
  .header_profile .profile_area .profile_image {
    width: 100%;
    padding: 5px;
    position: absolute;
    top: -60px;
    display: inline-block; }
    .header_profile .profile_area .profile_image img {
      width: 80px;
      margin: 0 auto;
      display: block;
      border-radius: 50%;
      padding: 2px 2px;
      background-color: #fff; }

.middle_header_demo_profile {
  width: 100%;
  margin-top: 40px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  border-radius: 6px;
  background-color: #fff;
  box-shadow: 0px 0.5px 10px -7px #00b4d8; }
  .middle_header_demo_profile .professional-area {
    width: 100%;
    display: flex;
    padding: 16px; }
    .middle_header_demo_profile .professional-area .about_logo {
      margin-right: 12px; }
      .middle_header_demo_profile .professional-area .about_logo img {
        width: 35px;
        border-radius: 50%; }
    .middle_header_demo_profile .professional-area .personal_skils {
      width: 100%; }
      .middle_header_demo_profile .professional-area .personal_skils h2 {
        font-weight: 400; }
      .middle_header_demo_profile .professional-area .personal_skils .skill_progress p {
        margin-bottom: 6px;
        font-weight: 600; }
      .middle_header_demo_profile .professional-area .personal_skils .progress {
        border-radius: 16px;
        margin-bottom: 10px; }
        .middle_header_demo_profile .professional-area .personal_skils .progress .progress-bar {
          border-radius: 16px;
          background-color: #000; }

.resume {
  padding-top: 50px;
  padding-bottom: 30px;
  background: #f9f9f9;
  padding-left: 0;
  padding-right: 16px; }

.timeline {
  list-style-type: none;
  position: relative; }

.timeline::before {
  content: "";
  background: #555;
  display: inline-block;
  position: absolute;
  left: 29px;
  width: 2px;
  height: 100%;
  z-index: 1; }

.timeline li {
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 20px;
  background: #fff; }
  .timeline li h4 {
    background-color: #000;
    padding: 5px 0px 5px 20px;
    color: #fff;
    font-size: 15px; }
    .timeline li h4 span {
      font-weight: bold;
      color: #ccc; }
  .timeline li p {
    padding: 0px 5px 10px 20px; }

.timeline li::before {
  content: "";
  background: #fff;
  display: inline-block;
  position: absolute;
  border-radius: 50%;
  border: 3px solid #000;
  left: 20px;
  width: 20px;
  height: 20px;
  z-index: 1; }

.skil_area {
  background: #f9f9f9;
  width: 100%;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 16px;
  padding-right: 16px; }
  .skil_area h2 {
    margin-bottom: 28px;
    color: #3a3a3a; }
  .skil_area .skil_section {
    display: flex;
    align-items: center; }
    .skil_area .skil_section .skill_img {
      width: 45%; }
      .skil_area .skil_section .skill_img img {
        width: 100%; }
    .skil_area .skil_section .skill_item {
      width: 45%;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-evenly; }
      .skil_area .skil_section .skill_item p {
        font-size: 14px;
        padding: 5px 16px;
        border-radius: 100px;
        border: 1px solid #00d4b2;
        text-align: center;
        margin: 3px; }

/**************Services************/
.services {
  width: 100%;
  padding-top: 50px;
  padding-bottom: 50px; }
  .services h1 {
    margin-bottom: 15px; }
  .services .services-hero {
    display: grid;
    padding-left: 16px;
    padding-right: 16px; }
    .services .services-hero .services-box {
      background: #f9f9f9;
      padding: 10px;
      margin-top: 20px;
      border-top-right-radius: 50px;
      border-bottom-left-radius: 50px;
      transition: background ease-in-out .25s; }
      .services .services-hero .services-box svg {
        margin: 0 10px;
        font-size: 20px; }
      .services .services-hero .services-box span {
        margin: 3px;
        font-size: 20px;
        font-weight: bold; }
      .services .services-hero .services-box p {
        font-size: 14px;
        margin-top: 20px;
        color: #777;
        text-align: center; }

.services-box:hover {
  background: #E8E8E8 !important; }

.demo_item_pro {
  width: 100%;
  height: 200px;
  border-radius: 6px;
  background-color: #fff;
  box-shadow: 0px 0.5px 10px -7px #00b4d8; }
